8.[[:space:]]Eighth[[:space:]]Lab/object_movement.avi filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
8.[[:space:]]Eighth[[:space:]]Lab/*.avi filter=lfs diff=lfs merge=lfs -text
